*,
*:before,
*:after {
    margin: 0;
    padding: 0;
}
body {
    font-family: "HelveticaNeue-light", "HelveticaNeue Light", "HelveticaNeue", Helvetica, Verdana, sans-serif;
    color: #333;
    line-height: 150%;
    word-wrap: break-word;
    text-align: left;
    background-color: #FFF;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
#header {
    width: 100%;
    height: 100px;
    color: #fff;
    border-bottom: 1px solid #ddd;
    background: #0B2A51;
}
#header h1 {
    margin: 0;
    text-align: center;
    padding-top: 40px;
}
#header #erw-su {
    font-weight: 300;
    font-size: 1.5rem;
}
#main {
    width: 800px;
    margin: 0 auto;
    padding: 30px 5px;
}
#main-p {
    text-align: center;
    font-size: 1.4rem;
    padding: 20px 0 30px 0;
}
#main-h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 50px;
}
#main .grey-bg {
    background: #fafafa;
}
#main #search {
    width: 300px;
    margin: auto;
}
#main .gsc-control-cse {
    padding: 40px 0 !important;
    background: transparent !important;
    border: none !important;
    border-color: none !important;
}
#main table.gsc-search-box td {
    padding-top: 4px;
}
#footer {
    margin-top: 50px;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 20px 20px;
    color: #aaa;
    font-size: 0.9rem;
    text-align: center;
}
#footer p {
    padding: 0 0 10px 0;
}
#footer a {
    color: #aaa;
    transition: all 0.25s;
}
#footer a:hover,
#footer a:focus {
    color: rgba(0, 0, 0, 0.5);
}